@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
img {
  border-radius: 5px;
}
p {
  font-family: "Exo 2", sans-serif;
  font-size: 19px;
  color: #3f3f3f;
  padding-bottom: 10px;
  padding-right: 25px;
}
h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  color: #3f3f3f;
  padding-bottom: 10px;
  padding-right: 25px;
}
h6 {
  font-family: "Exo 2", sans-serif;
}
main {
  justify-content: center;
  margin: 70px;
}
.main {
  justify-content: center;
  background-color: antiquewhite;
}
.parralax h2 {
  font-size: 50px;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  color: #fff;
}
.container {
  justify-content: center;
  justify-items: center;
  margin: 70px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  min-height: 100vh;
}
.container h2 {
  font-weight: 500;
  padding: 20px;
}
.container p {
  padding-left: 25px;
  padding-top: 0;
}
.fact1img {
  background-image: url(assets/fact1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  padding: 20vh;
}
.fact2img {
  background-image: url(assets/fact2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  padding: 20vh;
}
.fact3img {
  background-image: url(assets/fact3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  padding: 20vh;
}
.fact4img {
  background-image: url(assets/fact4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  padding: 20vh;
}
.fact5img {
  background-image: url(assets/fact5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  padding: 20vh;
}
summary {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
}
details summary::-webkit-details-marker {
  display: none;
}
details > summary {
  list-style: none;
}
details summary:before {
  content: "+";
  color: #a13939;
  font-size: 30px;
  margin-right: 7px;
}
details[open] summary:before {
  content: "-";
}
footer {
  font-family: "Exo 2", sans-serif;
  background-color: #3f3f3f;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-top: 7px solid #a13939;
}
li {
  list-style-type: none; /* Прячем исходные маркеры */
  margin-left: -40px;
  padding: 10px;
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
}
li::before {
  color: red; /* Цвет маркера */
  content: "▪"; /* Сам маркер */
  padding-right: 10px; /* Расстояние от маркера до текста */
}
